* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bg-color: white;
    --link-color: #234a66;
    --link-hover-color: #d9efec;
    --color-4: antiquewhite;
    --color-5: #3e3e3e;
    --primary-font: "Courier";
    --secondary-font: "Courier";
    --main-text-color: #000;
    --white-space: 1rem;
}

body {
    display: grid;
    grid-template-columns: 1fr a9fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header header header"
        "nav content content"
        "footer footer footer";
}

h1 {
    padding: 0;
}

.productlist {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4*1fr;
}

.header {
    grid-area: header;
    background-color: transparent;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: transparent;
    padding-top: 5vw;
    position: fixed;
}

.header h1 {
    font-size: 2rem;
    margin-top: 3vw;
    margin-left: 5vw;
    position: fixed;
    display: flex;
    color: var(--main text color);
    font-family: "Abril Fatface";
    text-align: center;
    z-index: 5;
}

h1.food_name {
        color: var(--main text color);
    font-family: "Abril Fatface";
    text-align: center;
}

img {
    width: 60vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.productlist {
    display: grid;
    grid-area: content;
    text-align: center;
    grid-area: content;
}

footer {
    grid-area: footer;
    font-family: var(--primary-font);
    padding: 5vw;
}

nav ul li {
    font-family: var(--primary-font);
    font-size: 1.3vw;
    color: #000;
    margin: var(--white-space) 0;
    text-transform: lowercase;
    padding-left: 6vw;
    padding-right: 6vw;
}

nav ul li:first-child {
    margin-top: 10vh;
}
