* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*img {
    width: 100%;
    max-width: 400px;
}*/

html {
    scroll-behavior: smooth;
}

/*
==========================================
STYLING FOR INDEX PAGE
==========================================
*/
:root {
    --bg-color: white;
    --link-color: #234a66;
    --link-hover-color: #d9efec;
    --color-4: antiquewhite;
    --color-5: #3e3e3e;
    --primary-font: "Courier";
    --secondary-font: "Courier";
    --main-text-color: #000;
    --white-space: 1rem;
}



.indexWrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header header header"
        "nav content content"
        "footer footer footer";
}



.productlist {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.header {
    grid-area: header;
    background-color: transparent;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: transparent;
    padding-top: 5vw;
    position: fixed;
}

.header h1 {
    font-size: 2rem;
    margin-top: 3vw;
    margin-left: 5vw;
    position: fixed;
    display: flex;
    color: var(--main text color);
    font-family: "Abril Fatface";
    text-align: center;
    z-index: 5;
    color: #000;
}

h1.food_name {
    color: var(--main text color);
    font-family: "Courier";
    font-size: 3vw;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 200;
}

img.indeximg {
    width: 60vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.indeximg:hover {
    cursor: pointer;
    opacity: 0.8;
}

.productlist {
    display: grid;
    grid-area: content;
    text-align: center;
}

footer {
    grid-area: footer;
    font-family: var(--primary-font);
    padding: 2vw;
    color: white;
    background-color: black;
    text-align: center;
}

nav ul li {
    font-family: var(--primary-font);
    font-size: 1.3vw;
    color: #000;
    margin: var(--white-space) 0;
    text-transform: lowercase;
    padding-left: 6vw;
    padding-right: 6vw;
}

ul li a {
    text-decoration: none;
    color: #000;
}

ul li a:hover {
    font-size: 1.7vw;
    transition: 0.4s ease;
}

ul li a.active {
    font-size: 1.5vw;
    text-decoration: underline;
}

nav ul li:first-child {
    margin-top: 10vh;
}


/*
==========================================
STYLING FOR MAIN PAGE
==========================================
*/
div.wrapper {
  /*  display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "header"
        "content"
        "footer";*/
}

.header {
    grid-area: header;
}

aside {
    grid-area: content;
}


footer {
    grid-area: footer;
}

/*
==========================================
styling for aside section
==========================================
*/
aside {
    /*display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1vw;*/
    display: grid;
    justify-items:center;
}

h1.dishtitle {
    padding: 30px;
    margin: 20px;
    border: 1px solid #000;
}

img.dishimg {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.img1,
img.img2,
img.img3 {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.description1,
p.description2,
p.description3 {
    color: var(--main text color);
    font-family: "Courier";
    font-size: 13px;
    text-align: justify;
    margin: 4vw 8vw 8vw;
}

p.recipe {
    font-family: "Courier";
    font-size: 15px;
    text-align: center;
    margin: 3vw;
}

p.rating1,
p.rating2,
p.rating3 {
    margin-bottom: 4vw;
    font-family: "Courier";
}

p.author,
p.date {
    font-family: "Courier";
    margin: 30px;
}

p.dish-description {
    font-family: "Courier";
    text-transform: capitalize;
    margin: 6vw;
}

