* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*
==========================================
STYLING FOR INDEX PAGE
==========================================
*/
:root {
    --bg-color: white;
    --link-color: #234a66;
    --link-hover-color: #d9efec;
    --color-4: antiquewhite;
    --color-5: #3e3e3e;
    --primary-font: "Courier";
    --secondary-font: "Courier";
    --main-text-color: #000;
    --white-space: 1rem;
}



.indexWrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header header header"
        "nav content content"
        "footer footer footer";
}



.productlist {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4*1fr;
}

.header {
    grid-area: header;
    background-color: transparent;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: transparent;
    padding-top: 5vw;
    position: fixed;
}

.header h1 {
    font-size: 2rem;
    margin-top: 3vw;
    margin-left: 5vw;
    position: fixed;
    display: flex;
    color: var(--main text color);
    font-family: "Abril Fatface";
    text-align: center;
    z-index: 5;
}

h1.food_name {
    color: var(--main text color);
    font-family: "Abril Fatface";
    font-size: 3vw;
    text-align: center;
    margin-top: 8vw;
}

img.indeximg {
    width: 60vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.productlist {
    display: grid;
    grid-area: content;
    text-align: center;
}

footer {
    grid-area: footer;
    font-family: var(--primary-font);
    padding: 5vw;
}

nav ul li {
    font-family: var(--primary-font);
    font-size: 1.3vw;
    color: #000;
    margin: var(--white-space) 0;
    text-transform: lowercase;
    padding-left: 6vw;
    padding-right: 6vw;
}

ul li a {
    text-decoration: none;
}

ul li a:hover {
    font-size: 1.5vw;
    transition: 0.4s ease;
}

ul li a.active {
    font-size: 1.5vw;
    text-decoration: underline;
}

nav ul li:first-child {
    margin-top: 10vh;
}


/*
==========================================
STYLING FOR MAIN PAGE
==========================================
*/
div.wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "header header"
        "nav aside"
        "footer footer";
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}


footer {
    grid-area: footer;
}

/*
==========================================
styling for aside section
==========================================
*/
aside {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1vw;
}



img.img1,
img.img2,
img.img3 {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.description1,
p.description2,
p.description3 {
    color: var(--main text color);
    font-family: "Abril Fatface";
    font-size: 1.5vw;
    text-align: center;
    margin-top: 8vw;
}
